<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Hola, {{firtName}}</h1>
    <p>Para verificar tu cuenta <a href="http://localhost:5000/api/v1/{{url}}?token={{token}}">click aqui</a></p>
    
</body>
</html>